@import "_constant";

.breadcrumb{
    ol{
        display: flex;
        li{
            padding: 0 10px;
            position: relative;
            a {
                color: $gray;
                &:hover {
                    color: $gray-darker;
                }
            }
            &:first-of-type{
                padding-left: 0;
            }
            &:last-of-type{
                padding-right: 0;
            }
            &:not(:first-child):before{
                content: "\00BB";
                position: absolute;
                top: 0;
                left: -4px;
            }
        }
    }
}