@import "_constant";
@import "_mixins";

button, input[type="button"], .btn{
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size:14px;
    padding: 8px 25px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: 0;
    border-radius: 2px;
    &:not(:last-child){
        margin-right: 5px;
    }
    &.btn-{
        &small{
            font-size: 13px;
            padding: 6px 25px;
        }
        &large{
            font-size: 18px;
            padding: 12px 25px;
        }
        &default{
            @include buttons($gray-darker, gainsboro, rgba(220, 220, 220, 0.85));
        }
        &primary{
            @include buttons($white, $primary, $primary-light);
        }
        &success{
            @include buttons($white, $success, $success-light);
        }
        &info{
            @include buttons($white, $info, $info-light);
        }
        &warning{
            @include buttons($white, $warning, $warning-light);
        }
        &danger{
            @include buttons($white, $danger, $danger-light);
        }
        &block{
            display: block;
            width: 100%;
            margin-left: 0;
            margin-top: 5px;
        }
    }
    &.disabled, &[disabled]{
        background-color: $gray-light;
        border-color: transparent;
        cursor: not-allowed;
        color: $gray-dark;
        &:hover {
            background-color: $gray-light;
        }
    }
    &.btn-rounded {
        border-radius: 50px;
    }
    &.btn-icon {
        padding: 4px 14px;
    }
    &.button-as-link{
        margin: 0;
        background: none;
        border: none;
        color: $primary;
        vertical-align: baseline;
        &:focus, &:hover{
            color: $primary-dark;
            text-decoration: underline;
        }
    }
}

/*Button Groups*/
.btn-group{
    overflow: hidden;
    button, input[type="button"], .btn{
        float: left;
        display: inline;
        margin: 0;
        padding: 4px 14px;
        border-radius: 0;
        &:first-child{
            border-right-width: 0;
            border-radius: 2px 0 0 2px;
        }
        &:last-child{
            border-left-width: 0;
            border-radius: 0 2px 2px 0;
        }
    }
}
