/*Global Color constants*/
$black: #000000;
$white: #FFFFFF;

$gray-darker: #212121;
$gray-dark: #666666;
$gray: #878787;
$gray-light: #dedede;;
$gray-lighter: #f7f7f9;

$success: #2ecd99;
$success-light: rgba(46, 205, 153, 0.85);

$danger: #ed6f56;
$danger-light: rgba(237, 111, 86, 0.85);

$primary: #4e9de6;
$primary-dark: #4e9de6;
$primary-light: rgba(78, 157, 230, 0.85);

$info: #5bc0de;
$info-light: #31b0d5;

$warning: #f0c541;
$warning-light: rgba(240, 197, 65, 0.85);

/*Component variables*/
$header-bg: #37536c;

/*Responsive Break points*/
$desktop: "(min-width:1200px)";

$tablet_landscape: "(min-width: 980px) and (max-width: 1199px)";
$tablet_portrait: "(min-width: 768px) and (max-width: 979px)";

$tablet: "(min-width: 568px) and (max-width:767px)"; /*Set for iPhone 5 and above*/
$mobile_landscape: "(min-width: 480px) and (max-width: 567px)";

$mobile_portrait : "(min-width:50px) and (max-width: 479px)";
