@import "_constant";

.input-group {
  padding-bottom: 15px;
  .input-label {
    display: block;
    padding-bottom: 4px;
  }
  .input-control {
    width: 100%;
    background: #FFFFFF;
    padding: 5px 10px 4px 10px;
    font-size: 14px;
    border: 1px solid $gray-light;
    -webkit-transition: border-color ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s;
    -moz-transition: border-color ease-in-out .15s;
    transition: border-color ease-in-out .15s;
    height: 40px;
    &.mini {
      height: 30px;
    }
    &:focus {
      border-color: $primary;
      outline: 0;
    }
    &.valid {
      border-color: $success;
    }
    &.invalid {
      border-color: $danger;
    }
  }
  textarea.input-control {
    height: 100px;
  }
  .input-with-icon {
    overflow: hidden;
    .icon {
      width: 46px;
    }
    .input-control {
      width: 100%;
      border-left: 0;
    }
    .icon, .input-control {
      float: left;
    }
  }
}

/*Checkbox*/
.checkbox-control, .radio-control {
  position: relative;
  display: inline-block;
  height: 20px;
  input {
    position: absolute;
    opacity: 0;
    &:focus + label, &:hover + label {
      &:before {
        background-color: $info;
      }
    }
    &:checked + label {
      &:before {
        background-color: $info;
      }
      &:after {
        content: '';
        position: absolute;
        top: 3px;
        left: 6px;
        width: 4px;
        height: 9px;
        border: solid $white;
        border-width: 0 3px 3px 0;
        transform: rotate(40deg);
        z-index: 2;
        cursor: pointer;
      }
    }
  }
  label {
    display: block;
    padding: 2px 0 2px 25px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background: $gray-light;
      z-index: 1;
      cursor: pointer;
    }
  }
}

/*Radio*/
.radio-control label {
  margin-right: 5px;
  &:before {
    top: 2px;
    border-radius: 50%;
  }
}

.radio-control input {
  &:checked + label:after {
    height: 8px;
    width: 8px;
    background: $white;
    border-radius: 50%;
    top: 8px;
    left: 6px;
    border-width: 0;
  }
}

.select-control {
  position: relative;
  display: inline-block;
  width: 100%;
  > select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
    &:focus {
      + .select-value {
        border: 1px solid $primary;
      }
    }
    &[disabled] {
      cursor: not-allowed;
      + .select-value {
        opacity: 0.5;
        &:after {
          border-top-color: $gray-light;
        }
      }
    }
  }
  .select-value {
    display: block;
    padding: 9px 20px 9px 10px;
    font-size: 14px;
    border: 1px solid $gray-light;
    background: $white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &:after {
      content: '';
      position: absolute;
      right: 10px;
      top: 46%;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-top-color: $gray-dark;
      z-index: 1;
    }
  }
  &.mini {
    .select-value {
      padding: 3px 20px 2px 10px;
    }
  }
}

.select-box {
  select.input-control {
    padding-right: 40px;
  }
  &:after {
    content: '';
    position: absolute;
    right: 10px;
    bottom: 13px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: $gray-dark;
    z-index: 1;
  }
  &.mini {
    &:after {
      bottom: 6px;
    }
  }
  .clear-select {
    top: 5px;
    right: 28px;
    &:hover {
      color: $gray-darker;
    }
  }
}

.multi-select-box {
  border: 1px solid $gray-light;
  select.input-control {
    width: auto;
    border: none;
  }
}

.multi-select-item {
  li {
    background: $success;
    color: #FFFFFF;
    border-radius: 3px;
    span {
      vertical-align: middle;
      &:hover {
        color: $gray-dark;
      }
    }
  }
}

input.input-control[disabled], select.input-control[disabled] {
  background: $gray-lighter;
  color: $gray;
}

/* Toggle Switch*/
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 25px;
  vertical-align: middle;
  input {
    display: none;
    &:checked + .toggle-slider {
      background-color: $primary;
    }

    &:focus + .toggle-slider {
      box-shadow: 0 0 1px $primary;
    }

    &:checked + .toggle-slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

  }
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $gray-light;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 12px;
  &:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: $white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
}

.date-picker {
  .input-control {
    z-index: 2;
    background: transparent;
  }
  i.fa {
    top: 13px;
    right: 10px;
    z-index: 1;
  }
}

.file-upload {
  .btn {
    border-radius: 0;
  }
  button {
    .fa, span {
      transition: all ease 0.2s;
    }
    .fa {
      top: -30px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }
    span {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    &:hover {
      .fa {
        top: 11px;
      }
      span {
        -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
        transform: translateY(30px);
      }
    }
  }
}

