.grid-row{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    margin-left: -15px;
    > .grid-block{
        flex: 1;
        -webkit-flex: 1;
         padding-left: 15px;
        &.cell-1of2, &.cell-1of3, &.cell-1of4, &.cell-1of5{
            flex: none;
            -webkit-flex: none
        }
        &.cell-1of2{
            width: 50%;
        }
        &.cell-1of3{
            width: 33.3333%;
        }
        &.cell-1of4{
            width: 25%;
        }
        &.cell-1of5{
            width: 20%;
        }
    }
}