.container {
    width: 90%;
}

.flex{
   display: flex;
   display: -webkit-flex;
}

.flex-1 {
    flex: 1 1 auto;
}

.flex-horizontal-reverse{
    flex-direction: row-reverse;
}

.flex-vertical{
    flex-direction: column;
}

.flex-vertical-reverse{
    flex-direction: column-reverse;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-wrap-reverse{
    flex-wrap: wrap-reverse;
}

.flex-start{
    justify-content: flex-start;
}

.flex-end{
    justify-content: flex-end;
}

.flex-center{
    justify-content: center;
}

.flex-space-around{
    justify-content: space-around;
}

.flex-space-between{
    justify-content: space-between;
}

/*Vertical Alignment for all flex items*/
.align-start{
    align-items: flex-start;
}

.align-end{
    align-items: flex-end;
}

.align-center{
    align-items: center;
}

.align-stretch{
    align-items: stretch;
}

.align-baseline{
    align-items: baseline;
}

/*Vertical alignment to specific flex item*/
.self-start{
    align-self: flex-start;
}

.self-end{
    align-self: flex-end;
}

.self-center{
    align-self: center;
}

.self-stretch{
    align-self: stretch;
}

.self-baseline{
    align-self: baseline;
}

.flex-no-shrink {
    flex-shrink: 0;
}
