@mixin buttons($color, $background, $hoverColor){
    color: $color;
    background-color: $background;
    border-color: $background;
    &:focus, &:hover{
        background-color: $hoverColor;
        text-decoration: none;
    }
    &.btn-outline {
        background: none;
        color: $background;
    }
}

@mixin spinnerRadius($size){
    width: $size;
    height: $size;
}

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

@mixin text-ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}