@import "_constant";

@media #{$desktop},#{$tablet_landscape}{
  .hidden-lg {
    display: none !important;
  }
}

@media #{$tablet_portrait},#{$tablet},#{$mobile_landscape},#{$mobile_portrait}{
  .hidden-sm {
    display: none !important;
  }

  .flex-responsive {
    display: block;
  }

  /*Grid*/
  .grid-row {
    display: block;
    > .grid-block {
      margin-left: 0;
      &.cell-1of2, &.cell-1of3, &.cell-1of4, &.cell-1of5 {
        width: 100%
      }
    }
  }

  .breadcrumb {
    display: none;
  }

  .container {
    width: 95%;
  }
}
