@import "_constant";
@import "_mixins";

*{
  box-sizing: border-box;
}
html{
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  -webkit-tap-highlight-color: $black;
}
body
{
  margin: 0;
  padding: 0;
}

table{
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

ul, ol{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  background-color: transparent;
  &:active {
    outline: 0;
  }
  &:hover {
    outline: 0;
  }
}
b, strong {
  font-weight: bold;
}
img{
  border:0
}
p, h1, h2, h3, h4, h5, h6{
  margin: 0;
}
button,
input,select,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  touch-action: manipulation;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea{
  resize:none;
  overflow: auto
}
button, input[type="button"]{
  cursor: pointer;
  overflow: visible
}
button[disabled], input[disabled], .disabled, select[disabled]{
  cursor: not-allowed;
  pointer-events: all;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
  &::-ms-clear {
    display: none;
  }
  @include input-placeholder {
    color: $gray;
  }
}

select:invalid {
  color: $gray;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}


input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
  &::-webkit-search-cancel-button, &::-webkit-search-decoration{
    -webkit-appearance: none;
  }
}

pre{
  margin: 0;
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
