@import "_constant";
@import "_mixins";

.spinner{
    @include spinnerRadius(60px);
    border-radius: 50%;
    border: 3px solid $gray-light;
    border-right-color: $primary;
    -webkit-animation: loading 0.8s infinite linear;
    animation: loading 0.7s infinite linear;
    &.small{
       @include spinnerRadius(30px);
        border-width: 4px;
    }
    &.large{
       @include spinnerRadius(90px);
    }
    &.success{
        border-right-color: $success;
    }
    &.info{
        border-right-color: $info;
    }
    &.warning{
        border-right-color: $warning;
    }
    &.error{
        border-right-color: $danger;
    }
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}