@import "constant";

.header {
  background: $header-bg;
}

.dash-icon {
  font-size: 45px;
}

.task-info {
  border-radius: 5px;
}

.chip, .days-left{
  border-radius: 3px;
}

.days-left {
  padding-top: 2px;
  padding-bottom: 2px;
}

.project-item {
  .bid-now {
    visibility: hidden;
    opacity: 0;
  }
  &:hover {
    .bid-now {
      visibility: visible;
      opacity: 1;
    }
  }
}

.attachment {
  &:hover {
    background: $success;
    color: $white;
  }
  &:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 20px 20px 0;
    border-style: solid;
    border-color: $gray-light $white;
    border-radius: 0 0 0 4px;
  }
}

.user-profile {
  font-size: 60px;
  color: $gray-light;
}

.navigation {
  a {
    transition: color linear 0.2s;
    &:hover{
      color: $gray-darker;
    }
    &.active {
      color: $gray-darker;
      border-bottom: 2px solid $danger
    }
  }

}